html {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;   
  width: 100%;
}

body {
  background-color: #ffffff;
  /* text-align: center; */
  align-items: center;
  color: #707070;
  font-family: "HelveticaNeue";
  height: 100%;
}

.home_body {
  align-content: center;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-family: "HelveticaNeue-Bold";
  line-height: 5rem;
  margin-block-start: auto;
  margin-block-end: auto;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-family: "HelveticaNeue-Bold";
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  font-family: "HelveticaNeue-Bold";
  padding-bottom: 4rem;
}

h4 {
  text-align: center;
  font-size: 1.2rem;
  font-family: "HelveticaNeue-Bold";
  margin: 4rem;
}

/* .home_button {
  cursor: help;
  padding-top: 0px;
  font-size: 2rem;
  margin-block-start: 0.8rem;
}


a {
  text-decoration-line: none;
} */

/* 
.colr1 {color:#ffffff;}
.colr2 {color:#EB00FF;} */

.fun_color {
  color: #EB00FF;
}
/* 
.primary_btn {
  cursor: pointer;
  background-color: #EB00FF;
  width: 10rem;
  border-width: 0.4rem;
  border-radius: 0.7rem;
  border-style: solid;
  border-color: #EB00FF;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.8rem;
  margin: 1rem;
}
.primary_btn:hover {
  cursor: pointer;
  background-color: #ffffff;
  border-color: #EB00FF;
  color: #EB00FF;
}

.login_button {
  cursor: pointer;
  background-color: #EB00FF;
  width: 16rem;
  border-width: 0.4rem;
  border-radius: 0.7rem;
  border-style: solid;
  border-color: #EB00FF;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.8rem;
}
.login_button:hover {
  cursor: pointer;
  background-color: #ffffff;
  border-color: #EB00FF;
  color: #EB00FF;
}

p {
  font-weight: medium;
  font-size: 1.2rem;
} */

/* .acc_form {
  text-align: left;
  font-size: 1rem;
  font-family: "HelveticaNeue-Light";
  margin-top: 7rem;
}

.acc_form label{
  font-weight: medium;
  font-size: 1.2rem;
  margin-block-start: auto;
  margin-block-end: 0.5rem;
  line-height: 2rem;
} */
  
/* input {
  font-size: 1.8rem;
  height: 3rem;
  width: 35rem;
  appearance: auto;
  color: #707070;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #707070;
  padding-top: 1px;
  -webkit-rtl-ordering: logical;
  cursor: auto;
  margin-bottom: 1.5rem;
} */

/* .checkbox {
  display: inline-flex;
  vertical-align: top;
}

.checkbox input {
  margin: 0px;
  width: 1.5rem;
}

.checkbox label {
  font-size: 0.9rem;
}

.date_slider {
  font-size: 2rem;
  font-weight: bold;
}

#dateSlider {
  height: 1rem;
  appearance: none;
  background-color: transparent;
  cursor: progress;
  border: none;
  -webkit-appearance: none;

}

#dateSlider::-webkit-slider-runnable-track {
  background-color: #707070;
  height: 0.3rem;
}

#dateSlider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #707070;
  margin-top: 0.3rem;
  /* background-color: #707070; */
/* } */

/* #name-select {
  appearance: none;
  -webkit-appearance: none;
  font-size: 1.8rem;
  height: 3rem;
  width: 20rem;
  appearance: auto;
  color: #707070;
  background-color: #ffffff;
  border-width: 1px;
  border-radius: 0px;
  border-style: solid;
  border-color: #707070;
  padding-top: 1px;
  -webkit-rtl-ordering: logical;
  cursor: auto;
  margin-bottom: 1.5rem;
}

.email_group input {
  width: 10.5rem;
} */




.ui-knob-shadow {
     -moz-box-shadow: 0px 4px 10px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 4px 10px rgba(0,0,0,.5);
          box-shadow: 0px 4px 10px rgba(0,0,0,.5);
}

.ui-knob {
  position: relative;
  display:  inline-block;
  overflow: visible;
  width:  64px;
  height: 64px;
  padding: 0px;

  border:1px solid #ddd;
  border-radius:50px;

  /* center the div */
  top:50%;
  left:50%;

  border-width: 0;
  background: #eee;
  font-weight: bold;
  text-shadow: 0 1px 1px #f6f6f6;
  color: #444;
  background-image: -moz-linear-gradient(top, #fdfdfd, #dddddd);
  background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #fdfdfd), color-stop(1, #dddddd));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fdfdfd', EndColorStr='#dddddd')";
}

.ui-knob-indicator {
  position: absolute;
  display: block;
  z-index: 10;
  margin: 0;
  padding: 0;
  border-radius:3px;
  /* Due to a display bug with anti-aliasing */
  -webkit-backface-visibility: hidden;

  border: 1px solid #808080;
  background: #fdfdfd;
  font-weight: bold;
  color: #111111;
  text-shadow: 0 1px 1px  #ffffff;
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #eeeeee), color-stop(1, #dddddd));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#dddddd')";
}

.rotate-knob.ui-knob {
  background: #333;
  background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #333), color-stop(1, #222));
  background-image: -moz-linear-gradient(top, #333, #222);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#333', EndColorStr='#222')";
}

.position-rotate-knob.ui-knob {
  background: #333;
  background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #333), color-stop(1, #222));
  background-image: -moz-linear-gradient(top, #333, #222);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#333', EndColorStr='#222')";
}

.position-css-knob .ui-knob-indicator, .spin-knob .ui-knob-indicator, .vertical-slide-knob .ui-knob-indicator, .horizontal-slide-knob .ui-knob-indicator {
  width: 10px;
  height: 10px;
  border-radius: 8px;
}

.rotate-css-knob .ui-knob-indicator {
  width: 62px;
  height: 10px;
}

.position-rotate-css-knob .ui-knob-indicator {
  width: 10px;
  height: 6px;
}
