html {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;   
    width: 100%;
}

body {
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    color: #707070;
    font-family: "HelveticaNeue";
    height: 100vh;
}

.home_body {
    align-content: center;
}

h1 {
    text-align: center;
    font-size: 5rem;
    font-family: "HelveticaNeue-Bold";
    line-height: 5rem;
    margin-block-start: auto;
    margin-block-end: auto;
}

h2 {
    text-align: center;
    font-size: 1rem;
    font-family: "HelveticaNeue-Bold";
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    font-family: "HelveticaNeue-Bold";
    padding-bottom: 4rem;
}

h4 {
    text-align: center;
    font-size: 1.2rem;
    font-family: "HelveticaNeue-Bold";
    margin: 2rem;
}

.home_button {
    cursor: help;
    padding-top: 0px;
    font-size: 2rem;
    margin-block-start: 0.8rem;
}


a {
    text-decoration-line: none;
}


.colr1 {color:#ffffff;}
.colr2 {color:#EB00FF;}

.fun_color {
    color: #EB00FF;
}

.primary_btn {
    cursor: pointer;
    background-color: #EB00FF;
    width: 10rem;
    border-width: 0.4rem;
    border-radius: 0.7rem;
    border-style: solid;
    border-color: #EB00FF;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.8rem;
    margin: 1rem;
}
.primary_btn:hover {
    scale: 1.2rem;
    cursor: pointer;
    background-color: #ffffff;
    border-color: #EB00FF;
    color: #EB00FF;
}

.primary_btn:disabled {
    scale: 1.2rem;
    cursor: pointer;
    background-color: #707070;
    border-color: #707070;
    color: #ffffff;
    opacity: 0.5;
}

.login_button {
    cursor: pointer;
    background-color: #EB00FF;
    width: 16rem;
    border-width: 0.4rem;
    border-radius: 0.7rem;
    border-style: solid;
    border-color: #EB00FF;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.8rem;
}
.login_button:hover {
    cursor: pointer;
    background-color: #ffffff;
    border-color: #EB00FF;
    color: #EB00FF;
}

p {
    font-weight: medium;
    font-size: 1.2rem;
}

.acc_form {
    text-align: left;
    font-size: 1rem;
    font-family: "HelveticaNeue-Light";
    margin-top: 7rem;
}

.acc_form label{
    font-weight: medium;
    font-size: 1.2rem;
    margin-block-start: auto;
    margin-block-end: 0.5rem;
    line-height: 2rem;
}
    
input {
    font-size: 1.8rem;
    height: 3rem;
    width: 35rem;
    appearance: auto;
    color: #707070;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #707070;
    padding-top: 1px;
    -webkit-rtl-ordering: logical;
    cursor: auto;
    margin-bottom: 1.5rem;
}

.checkbox {
    display: inline-flex;
    vertical-align: top;
}

.checkbox input {
    margin: 0px;
    width: 1.5rem;
}

.checkbox label {
    font-size: 0.9rem;
}

.date_slider {
    font-size: 2rem;
    font-weight: bold;
}

#dateSlider {
    height: 1rem;
    appearance: none;
    background-color: transparent;
    cursor: progress;
    border: none;
    -webkit-appearance: none;

}

#dateSlider::-webkit-slider-runnable-track {
    background-color: #707070;
    height: 0.3rem;
}

#dateSlider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #707070;
    margin-top: 0.3rem;
    /* background-color: #707070; */
}

#name-select {
    appearance: none;
    -webkit-appearance: none;
    font-size: 1.8rem;
    height: 3rem;
    width: 20rem;
    appearance: auto;
    color: #707070;
    background-color: #ffffff;
    border-width: 1px;
    border-radius: 0px;
    border-style: solid;
    border-color: #707070;
    padding-top: 1px;
    -webkit-rtl-ordering: logical;
    cursor: auto;
    margin-bottom: 1.5rem;
}

.email_group input {
    width: 10.5rem;
}

#textReadBox {
    width: 40rem;
    height: 20rem;
    font-size: 1.5rem;
    resize: none;
    color: #707070;
    border-color: #707070;
    outline: none;
  }

  #knobBG {
    border: 4px solid #707070;
    border-radius: 50%;
}
  #knobBG, #knob {
    margin: auto;
    position: relative;
    width:250px; 
    height:250px;
  }
  #knob {
    width: 250px;
    height: 250px;
    z-index: 1;
  }
  .knobCircle {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #EB00FF;
    border-radius: 50%;
}
  .category {
    font-size:3rem;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
  }
  #content{
    display: flex;
    /* justify-content: space-evenly; */
    border: #707070 solid 4px;
    height:300px;
    width:535px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    vertical-align:middle;
    margin-bottom: 1rem;
    
  }
  #content .category {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 535px;
    margin: 0 100px;
    box-sizing: border-box;
  }

  .cat_control {
    display: inline-flex;
    vertical-align: middle;
}
.cat_btn {
    border-color: #707070;
    background-color: #707070;
    color: #ffffff;
    max-height: 5rem;
    max-width: 5rem;
    margin-left: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}

.cat_btn:hover {
    cursor: pointer;
    background-color: #707070;
    border-color: #707070;
    color: #ffffff;
}


.login-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    z-index: 1000; /* Ensures it is above other elements */
}

.login-popup input {
    width: calc(100% - 20px);
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 2rem;
}

.login-popup h3 {
    padding: 1rem;
    margin: auto;
}

.login-popup .primary_btn {
    width: calc(100% - 20px);
    margin: 0.5rem;
}


  
